<div class="menu-group">
  <%= link_to(new_room_path, {class: "user-icon"}) do %>
    <%= fa_icon("users") %>
  <% end %>
</div>
<div class="setting">
  <%= link_to(edit_user_path(current_user), class: "cogs-icon") do %>
    <%= fa_icon("cogs") %>
  <% end %>
</div>
