<div class="wrapper">
  <div class="menu_bar">
    <%= render "menu_bar" %>
  </div>
  <div class='side-bar'>
    <%= render "side_bar" %>
  </div>
  <div class="chat">
    <%= render "main_chat" %>
  </div>
</div>